
    <!--우측 콘텐츠 헤더영역 -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>채널 정보 관리</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/">Home ></a>
                </li>
                <li>
                    <a>채널 정보 관리 ></a>
                </li>
                <li class="active">
                    <strong>확인/수정</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <!--우측 콘텐츠 영역 -->
    <form action="/channel/modify/<%=channel.channel_id%>" id='channelForm' method="post">
        <div class="wrapper wrapper-content">
            <div class="ibox-content m-b-sm border-bottom">

                <!-- 게시판 영역 -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">채널</label>
                            <select name="categoty_code" id="categoty_code" class="form-control">
                                <option value="9" <% if( channel.categoty_code == "9"){ %> selected <% } %>>선택</option>
                                <option value="0" <% if( channel.categoty_code == "0"){ %> selected <% } %>>오픈채널</option>
                                <option value="1" <% if( channel.categoty_code == "1"){ %> selected <% } %>>개인채널</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">채널명</label>
                            <input type="text" name="channelName" id="channelName" class="form-control" value="<%=channel.channel_name%>">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">게시여부</label>
                            <select name="channelState" id="channelState" class="form-control">
                                <option value="9" <% if( channel.channel_state == "9"){ %> selected <% } %>>선택</option>
                                <option value="0" <% if( channel.channel_state == "0"){ %> selected <% } %>>N</option>
                                <option value="1" <% if( channel.channel_state == "1"){ %> selected <% } %>>Y</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- 글 내용 입력 영역 -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">채널설명</label>
                            <textarea class="form-control" name='channelDesc' id='channelDesc' rows="10" cols="5">
                                <%=channel.channel_desc%>
                            </textarea>
                        </div>
                    </div>
                </div>
                <!-- 동시채널접속자수, 등록자, 등록일시 입력 영역 -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">동시접속자수</label>
                            <input type="text" name="userLimit" id="userLimit" class="form-control" value="<%=channel.user_limit%>">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">등록자</label>
                            <input type="text" name="regMemberId" id="regMemberId" class="form-control" value="<%=channel.reg_member_id%>">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">수정일시</label>
                            <input type="text" class="form-control" readonly value="<%=moment(channel.edit_date).format('YYYY-MM-DD HH:mm')%>">
                        </div>
                    </div>
                </div>

                <!-- 저장/목록 이동 버튼 -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">저장</button>
                    <a href="/channel/list" class="btn btn-info">목록</a>
                    <a href="#"><button type="button" id="btnDel" class="btn btn-danger">삭제</button></a>
                    <input type="hidden" id="channelId" value="<%=channel.channel_id%>">
                </div>

            </div>
        </div>
    </form>

    <script>

        $("#btnDel").click(function(){
            if(confirm("정말로 삭제하시겠습니까?")) {
                // 확인팝업내 확인버튼을 누르면 하기 코드가 실행되고 취소를 누르면 하기코드를 건너뛴다.
                location.href="/channel/delete?id="+$("#channelId").val();
            }
        });

    </script>